:root {
    --book-cover-width: 200px;
    --book-cover-width-large: 325px;
    --book-cover-aspect-ratio: 0.75;
}

.book-cover {
    width: var(--book-cover-width);
    height: calc(var(--book-cover-width) / var(--book-cover-aspect-ratio));
}

.book-cover-large {
    --book-cover-width: var(--book-cover-width-large);
}

.book-grid {
    display: grid;
    justify-content: center;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, var(--book-cover-width));
}

.book-grid-large {
    grid-template-columns: repeat(auto-fill, var(--book-cover-width-large));
}

.book-details {
    display: flex;
    grid-gap: 1rem;
}

.book-details-label {
    font-size: 1.2rem;
    font-weight: 500;
    align-self: flex-start;
}

.book-details-grid {
    display: grid;
    align-content: flex-start;
    align-items: center;
    grid-gap: 1rem;
    grid-template-columns: auto auto;
}

.book-details-btn-grid {
    display: grid;
    grid-template-areas:
        "edit delete"
        "author author";
    grid-gap: .5rem;
    margin-top: .5rem;
    grid-template-columns: 1fr 1fr; /* Two equal columns for the first row */
}

.book-details-author-button {
    grid-area: author;
}

/* Stretch buttons and form to fill the grid area */
.book-details-btn-grid > a,
.book-details-btn-grid > form {
    width: 100%;
}

/* Additional style to make sure the form takes up the full grid area */
.book-details-btn-grid > form {
    display: flex;
}

/* Ensure the button inside the form stretches to fill the form */
.book-details-btn-grid > form > button {
    flex-grow: 1;
}